.cartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cartHeading {
  font-size: 3.5rem;
  color: gold;
  font-family: hogwarts;
  -webkit-text-stroke: 1px black;
}

.cartList {
  list-style: none;
  width: 500px;
  height: 600px;
  padding: 30px 60px;
  overflow-y: scroll;
  background-color: #ffffff94;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border-bottom: 1px solid black;

    div {
      span {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        button {
          padding: 0.5em 1em;
          margin: 0 1em 0 0;
          cursor: pointer;
        }

        span {
          background-color: #fff;
          display: inline-block;
          padding: 2.5px 5px;
        }

        button:nth-of-type(2) {
          margin-left: 1em;
        }

        div {
          margin: 0.5em 0;
        }

        div:nth-of-type(2) {
          width: 100%;
          display: flex;
          flex-direction: column;
          h4 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            span {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.cartTotal {
  font-size: 2rem;
  color: rgb(255, 51, 0);

  -webkit-text-stroke: 1px black;
  align-self: flex-start;

  span {
    color: gold;
  }
}
