.shop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.shopHeader {
    font-family: hogwarts;
    font-size: 4.2rem;
    color: goldenrod;
    text-shadow: 2px 2px 5px orangered;
    padding: 1em 0 0.5em 0;
}

.cardWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    width: 100%;
    margin: 0 0 20px;
    gap: 20px;
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    border-radius: 20px;
}
.shopCard{
   width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff8e;
    padding: 10px;
}

.productTitle, .productInfo, .productImage, .productPrice{
    padding: 10px;
   
}

.productInfo {
    text-align: justify;
    text-align-last: center;
}

.productImage {
    margin: 0 auto;
    width: 200px;
   height: 200px;

    img {
       width: 200px;
       height: 200px;
    object-fit: contain center;
    opacity: 0.8;
    transition: opacity, border-radius 0.3s linear;
    border-radius: 50%;
    background-color: black;

    &:hover{
        opacity: 1;
        border-radius: 20px;
    }
    }
}

.productPrice {
     align-self: flex-start;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     font-weight: bold;

     button {
        cursor: pointer;
        padding: 0.5em 1em;
     }
}